<% layout("layouts/boilerplate") %>
  <article class="row">
    <h1 class="text-center primaryColor">Edit Thermal</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/thermals/<%=thermal.id%>?_method=PUT" method="POST" novalidate class="validated-form"
        enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="thermal[title]" value="<%=thermal.title %>"
            required />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="thermal[location]" value="<%=thermal.location %>"
            required />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="price">Thermal Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label"
              id="price" name="thermal[price]" value="<%=thermal.price %>" required />
            <div class="valid-feedback">Looks Good!</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="thermal[description]" required>
<%=thermal.description %> </textarea>
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3 custom-file">
          <label for="image" class="form-label custom-file-label new_edit primaryColor">Add More Image(s)</label>
          <input class="form-control" type="file" id="image" multiple name="image">
        </div>
        <div class="mb-3">
          <% thermal.images.forEach(function(img,i) { %>
            <img src="<%=img.thumbnail %>" alt="" class="img-thumbnail">
            <div class="form-check-inline">
              <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
            </div>
            <label class="new_edit" for="image-<%=i%>">Delete</label>
            <% }) %>
        </div>
        <div class="mb-3 d-grid gap-2">
          <button class="btn indexBut">Save Thermal</button>
        </div>
      </form>
      <div class="d-grid gap-2">
        <a type="button" class="btn btn-warning fontButton" href="/thermals/<%= thermal._id%>">Cancel</a>
      </div>
    </div>
  </article>