<% layout("layouts/boilerplate") %>
  <div id="map" style="width: 100%; height: 500px"></div>
  <h1>All thermals</h1>
  <div>
    <a href="/thermals/new">Add Thermal</a>
  </div>
  <% for (let thermal of thermals) { %>
    <div class="card" mb-3>
      <div class="row">
        <div class="col-md-4">
          <%if(thermal.images.length){ %>
            <img class="img-fluid" alt="" src="<%=thermal.images[0].url%>">
            <% } else{%>
              <img class="img-fluid" src="" alt="">
              <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= thermal.title %>
            </h5>
            <p class="card-text">
              <%=thermal.description %>
            </p>
            <p class="card-text">
              <small class="text-muted">
                <%=thermal.location %>
              </small>
            </p>
            <a class="btn btn-primary" href="/thermals/<%=thermal._id  %> ">View <%=thermal.title %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% } %>

      <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const thermals = { features: <%- JSON.stringify(thermals) %>}      
      </script>

      <script src="/javascripts/clusterMap.js"></script>